.body {
    padding: 0px 233px;
    display: flex;
    flex-direction: column;
}
.body__header {
    font-family: BlackerDisplay;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4c4c4c;
    margin-top: 59px;
    margin-bottom: 59px;
}
.body__arrow > img{
    width: 48px;
    object-fit: contain;
    margin-top: 38px;
}
.body__details > img {
    width: 69px;
    object-fit: contain;
    margin-right: 27px;

}
.body__details {
    display: -webkit-inline-box;
}
.body__details > .map {
    width: 406px;
    height: 200px;
    margin-right: 27px;
}
.address__place {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #4c4c4c;
    margin-top: 6px;
}