<div class="footer">
    <div class="footer__text">
        <div>Intrested? Need more<br> Information?</div>
        <div>Get in touch with us!</div>
        <div>
            <div> <img src="images/footer/fabebook.png" /> </div>
            <div> <img src="images/footer/twitter.png" /> </div>
            <div> <img src="images/footer/linkedin.png" /> </div>
        </div>
    </div>
    <div class="footer__form">
        <form>
            <div>
                <div class="form_element">
                    <label>Name</label>
                    <input placeholder="name">
                </div>

                <div class="form_element">
                    <label>Phone Number</label>
                    <input placeholder="Phone Number">
                </div>

                <div class="form_element">
                    <label>Email</label>
                    <input placeholder="Email">
                </div>
            </div>
            <div>
                <div class="form_element">
                    <label>Organisation (You represent)</label>
                    <input placeholder="Company Name">
                </div>

                <div class="form_element">
                    <label>Select type of inquiry</label>
                    <input placeholder="Type your Inquiry here">
                </div>

                <div class="form_element">
                    <button><div>SUBMIT</div></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="footer_bottom">
    <div>Copyright (c) 2018 — Sanrad Medical Systems</div>
    <div>Disclaimer</div>
</div>