<div class="header">
    <div class="header__logo">
        <img src="images/header/upper_logo.png" />
        <img style="cursor: pointer;" onclick="window.location.href='index.html'" src="images/header/name_logo.png" />
        <p>We Make Relationship for Life.</p>
    </div>
    <div class="header__links">
        <div class="header__links__header">
            <div class="item_1" style="cursor: pointer;" onclick="window.location.href='product-listing.html'">Pre-Owned Product Catalogue</div>
            <div class="item_2">Information</div>
            <div class="item_3">
                <button><div>CT Scanners</div></button>
                <button><div>MRI Scanners</div></button>
                <button><div>Mobile MRI</div></button>
            </div>
            <div class="item_5">
                <div onclick="window.location.href='about-us.html'" style="cursor: pointer;">About Sanrad</div>
                <div style="cursor: pointer;" onclick="window.location.href='testimonial.html'">Testimonials</div>
                <div>Case Studies</div>
                <div>Blog</div>
                <div style="cursor: pointer;" onclick="window.location.href='contact-us.html'">Contact us</div>
            </div>
            
        </div>
    </div>
</div>